@media (min-width: 300px) { 
  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }
}


@media (min-width: 768px) { 
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 992px) { 
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}

@media (min-width: 1200px) { 
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}

.image {
  max-width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
}

.griditem {
  padding: 10px;
  @apply text-blue-600;
  @apply text-xs text-center;
}
